SPRING_PROFILES_ACTIVE=prod
PORT=10000
APP_SCHEDULING_ENABLED=true

DATABASE_URL=jdbc:postgresql://dpg-d8vrj8po3t8c73bkqh3g-a:5432/plumbcommerce
DATABASE_USERNAME=plumbcommerce_user
DATABASE_PASSWORD=WerBOgD9oAItQ3yDNh1MQ6jI9MHFJIg1

JWT_SECRET=ajsdjkndsnj51654651sdsajnfbaks-54sac
CORS_ALLOWED_ORIGINS=https://your-admin-portal-url.vercel.app,http://localhost:3100

REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_SSL=false

MONGO_URI=

KAFKA_BOOTSTRAP_SERVERS=
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_SECURITY_PROTOCOL=
KAFKA_SASL_MECHANISM=

